# OS stuff
.DS_Store
Thumbs.db

## KICAD ##

# KiCad backups/temp
*-backups/
*.bak
*.tmp
*.lck
*.lock

# Per-user project state
*.kicad_prl

# KiCad caches
fp-info-cache
sym-lib-table-cache
fp-lib-table-cache
